.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .chat-box {
    margin: 3em;
    width: 90%;
    border: 2px solid black;
    padding: 5px;
    .card-body {
      height: 20rem;
    }
  }
}
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  button {
    width: 40%;
  }
}
h1 {
  text-align: center;
  margin-top: 30px;
}
